.revealButtons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  height: 30vh;
  justify-content: space-between;
}
.revealButtons > button {
  width: 40%;
  background: lightblue;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.pointsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10vh;
}
.pointsection > div {
  width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  justify-content: space-between;
}
.pointsection > div > button {
  position: relative;
  width: 50%;
}
.solution {
  font-weight: bold;
  padding-left: 2.5%;
}

.nextSong {
  margin-left: 2.5%;
}
