.App {
}

.centercontent {
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
  min-height: 100vh;
  background-color: lightblue;
  overflow: hidden;
  text-align: center;
}

.centercontent > img {
  transform: scaleX(-1);
  margin: auto;
  width: 100%;
  padding-top: 5%;
}

.qr {
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 10vh;
}
