.App {
  background-color: lightskyblue;
  min-height: 100vh;
}

.centercontent {
  margin: auto;
  width: 40%;
  padding-top: 5%;
}

.centercontent > img {
  margin: auto;
  width: 100%;
  padding-top: 5%;
}

.centercontent > {
  padding-top: 5%;
  margin: auto;
}
